body {
  font-size: 10px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("https://images.unsplash.com/photo-1520034475321-cbe63696469a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2efbd126389f0ea2ce0db8c507919e1b&auto=format&fit=crop&w=2850&q=80");
}
